.fund-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px 16px;
    margin: 8px;
    min-width: 300px;
    width: min-content;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.fund-tags {
    display: flex;
    margin: 8px 0;
}

.fund-tags > span {
    margin: auto 5px;
}

.fund-category {
    background-color: #007bff;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
}

.fund-risk-level {
    background-color: #dc3545;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
}

.fund-link {
    text-decoration: none;
    margin-bottom: 12px;
    display: block;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 8px 0;
    border-radius: 4px;
    text-align: center;
}

.fund-link:hover {
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
}